/* clear-sans-100normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 100;
  src: url('/clear-sans-100.b61dddf4.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Thin normal'),
    local('Clear Sans-Thinnormal'),
    url('/clear-sans-100.b61dddf4.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-100.6dbf24b2.woff2') format('woff2'), 
    url('/clear-sans-100.473ba355.woff') format('woff'), 
    url('/clear-sans-100.475c276c.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* clear-sans-300normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/clear-sans-300.a76999d8.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Light normal'),
    local('Clear Sans-Lightnormal'),
    url('/clear-sans-300.a76999d8.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-300.4df7f49b.woff2') format('woff2'), 
    url('/clear-sans-300.1907b19b.woff') format('woff'), 
    url('/clear-sans-300.3e94289a.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* clear-sans-400normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/clear-sans-400.2f4b4509.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Regular normal'),
    local('Clear Sans-Regularnormal'),
    url('/clear-sans-400.2f4b4509.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-400.eee9b122.woff2') format('woff2'), 
    url('/clear-sans-400.ca4eb2ad.woff') format('woff'), 
    url('/clear-sans-400.478d394e.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* clear-sans-400italic - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/clear-sans-400italic.86091617.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Regular italic'),
    local('Clear Sans-Regularitalic'),
    url('/clear-sans-400italic.86091617.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-400italic.cd01d3e9.woff2') format('woff2'), 
    url('/clear-sans-400italic.75505972.woff') format('woff'), 
    url('/clear-sans-400italic.a6a64af1.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* clear-sans-500normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/clear-sans-500.3f9b1c3a.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Medium normal'),
    local('Clear Sans-Mediumnormal'),
    url('/clear-sans-500.3f9b1c3a.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-500.dff2e12e.woff2') format('woff2'), 
    url('/clear-sans-500.903150ab.woff') format('woff'), 
    url('/clear-sans-500.c0e73783.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* clear-sans-500italic - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/clear-sans-500italic.88585a5d.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Medium italic'),
    local('Clear Sans-Mediumitalic'),
    url('/clear-sans-500italic.88585a5d.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-500italic.bd2b21e3.woff2') format('woff2'), 
    url('/clear-sans-500italic.453dbf4a.woff') format('woff'), 
    url('/clear-sans-500italic.e5a53ea6.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* clear-sans-700normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/clear-sans-700.e6013405.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Bold normal'),
    local('Clear Sans-Boldnormal'),
    url('/clear-sans-700.e6013405.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-700.6f9b56db.woff2') format('woff2'), 
    url('/clear-sans-700.2696da75.woff') format('woff'), 
    url('/clear-sans-700.48aa0067.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* clear-sans-700italic - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/clear-sans-700italic.7ec0296b.eot'); /* IE9 Compat Modes */
  src:
    local('Clear Sans Bold italic'),
    local('Clear Sans-Bolditalic'),
    url('/clear-sans-700italic.7ec0296b.eot?#iefix') format('embedded-opentype'), 
    url('/clear-sans-700italic.7e994871.woff2') format('woff2'), 
    url('/clear-sans-700italic.eaa16796.woff') format('woff'), 
    url('/clear-sans-700italic.f070515a.svg#ClearSans') format('svg'); /* Legacy iOS */
}

/* montserrat-100normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Montserrat Thin '),
    local('Montserrat-Thin'),
    url('/montserrat-latin-100.451cfcef.woff2') format('woff2'), 
    url('/montserrat-latin-100.d9b893f6.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-100italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Montserrat Thin italic'),
    local('Montserrat-Thinitalic'),
    url('/montserrat-latin-100italic.eab2ff30.woff2') format('woff2'), 
    url('/montserrat-latin-100italic.1377a4bc.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-200normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Montserrat Extra Light '),
    local('Montserrat-Extra Light'),
    url('/montserrat-latin-200.cbaa7c08.woff2') format('woff2'), 
    url('/montserrat-latin-200.fe4fcd3d.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-200italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Montserrat Extra Light italic'),
    local('Montserrat-Extra Lightitalic'),
    url('/montserrat-latin-200italic.84463974.woff2') format('woff2'), 
    url('/montserrat-latin-200italic.00da4e20.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-300normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Montserrat Light '),
    local('Montserrat-Light'),
    url('/montserrat-latin-300.023bd035.woff2') format('woff2'), 
    url('/montserrat-latin-300.eb27b925.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Montserrat Light italic'),
    local('Montserrat-Lightitalic'),
    url('/montserrat-latin-300italic.df991d7f.woff2') format('woff2'), 
    url('/montserrat-latin-300italic.1ceae5c1.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-400normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Montserrat Regular '),
    local('Montserrat-Regular'),
    url('/montserrat-latin-400.0f19f095.woff2') format('woff2'), 
    url('/montserrat-latin-400.f48eb8c2.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-400italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Montserrat Regular italic'),
    local('Montserrat-Regularitalic'),
    url('/montserrat-latin-400italic.41984806.woff2') format('woff2'), 
    url('/montserrat-latin-400italic.b3ebfcc0.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-500normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Montserrat Medium '),
    local('Montserrat-Medium'),
    url('/montserrat-latin-500.4927abe3.woff2') format('woff2'), 
    url('/montserrat-latin-500.1ed85fab.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Montserrat Medium italic'),
    local('Montserrat-Mediumitalic'),
    url('/montserrat-latin-500italic.ce4dcc3d.woff2') format('woff2'), 
    url('/montserrat-latin-500italic.2ecac4e6.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-600normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Montserrat SemiBold '),
    local('Montserrat-SemiBold'),
    url('/montserrat-latin-600.86248497.woff2') format('woff2'), 
    url('/montserrat-latin-600.26468514.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Montserrat SemiBold italic'),
    local('Montserrat-SemiBolditalic'),
    url('/montserrat-latin-600italic.59ef5bfa.woff2') format('woff2'), 
    url('/montserrat-latin-600italic.3058be11.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-700normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Montserrat Bold '),
    local('Montserrat-Bold'),
    url('/montserrat-latin-700.7c5dd37d.woff2') format('woff2'), 
    url('/montserrat-latin-700.97368d6e.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Montserrat Bold italic'),
    local('Montserrat-Bolditalic'),
    url('/montserrat-latin-700italic.01a122bb.woff2') format('woff2'), 
    url('/montserrat-latin-700italic.dfb9efce.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-800normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Montserrat ExtraBold '),
    local('Montserrat-ExtraBold'),
    url('/montserrat-latin-800.134433b0.woff2') format('woff2'), 
    url('/montserrat-latin-800.5de4b3d7.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Montserrat ExtraBold italic'),
    local('Montserrat-ExtraBolditalic'),
    url('/montserrat-latin-800italic.dc9126d0.woff2') format('woff2'), 
    url('/montserrat-latin-800italic.27ef25e4.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-900normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Montserrat Black '),
    local('Montserrat-Black'),
    url('/montserrat-latin-900.7558df23.woff2') format('woff2'), 
    url('/montserrat-latin-900.8e6c6814.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-900italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Montserrat Black italic'),
    local('Montserrat-Blackitalic'),
    url('/montserrat-latin-900italic.8fb9d849.woff2') format('woff2'), 
    url('/montserrat-latin-900italic.6d5be07c.woff') format('woff'); /* Modern Browsers */
}


/* roboto-100normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url('/roboto-latin-100.1231f35d.woff2') format('woff2'), 
    url('/roboto-latin-100.24247dbf.woff') format('woff'); /* Modern Browsers */
}

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url('/roboto-latin-100italic.4209e22f.woff2') format('woff2'), 
    url('/roboto-latin-100italic.532305c7.woff') format('woff'); /* Modern Browsers */
}

/* roboto-300normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url('/roboto-latin-300.08237328.woff2') format('woff2'), 
    url('/roboto-latin-300.e22deb2b.woff') format('woff'); /* Modern Browsers */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url('/roboto-latin-300italic.bd453e9a.woff2') format('woff2'), 
    url('/roboto-latin-300italic.e55a64ad.woff') format('woff'); /* Modern Browsers */
}

/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url('/roboto-latin-400.e88f05bc.woff2') format('woff2'), 
    url('/roboto-latin-400.194af8c4.woff') format('woff'); /* Modern Browsers */
}

/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url('/roboto-latin-400italic.fb64e8fd.woff2') format('woff2'), 
    url('/roboto-latin-400italic.9740f628.woff') format('woff'); /* Modern Browsers */
}

/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url('/roboto-latin-500.b2ac0621.woff2') format('woff2'), 
    url('/roboto-latin-500.f357e045.woff') format('woff'); /* Modern Browsers */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url('/roboto-latin-500italic.eeeac338.woff2') format('woff2'), 
    url('/roboto-latin-500italic.1e10a7fe.woff') format('woff'); /* Modern Browsers */
}

/* roboto-700normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url('/roboto-latin-700.8974cd29.woff2') format('woff2'), 
    url('/roboto-latin-700.2f5212c5.woff') format('woff'); /* Modern Browsers */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url('/roboto-latin-700italic.4c1d9068.woff2') format('woff2'), 
    url('/roboto-latin-700italic.a4f8c0f8.woff') format('woff'); /* Modern Browsers */
}

/* roboto-900normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url('/roboto-latin-900.c9bdcaa6.woff2') format('woff2'), 
    url('/roboto-latin-900.0db890cf.woff') format('woff'); /* Modern Browsers */
}

/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url('/roboto-latin-900italic.d79b744d.woff2') format('woff2'), 
    url('/roboto-latin-900italic.f3676053.woff') format('woff'); /* Modern Browsers */
}



/*# sourceMappingURL=/presentation2.f69400ca.css.map */